@charset 'utf-8';

/* 공통 */

html {
  line-height: 1.25;
  word-break: keep-all;
  scroll-behavior: smooth;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  outline: 0;
}
body {
  font-family: 'NotoSansCJKkr', 'Malgun Gothic', '맑은 고딕', '돋움', Dotum, '굴림', Gulim, Tahoma,
    Verdana, Geneva, sans-serif, Apple Gothic, AppleGothic;
  color: #1c1c1c;
}

body::-webkit-scrollbar {
  width:10px;
}
body::-webkit-scrollbar-track {
  background-color:none ;
}
body::-webkit-scrollbar-thumb {
  background-color: #062fff;
}

img {
  vertical-align: middle;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
button {
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: 0 0;
  padding: 0;
  margin: 0;
}

/* 상단 헤더 */

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index:100;
}

header .gnb_wrapper {
  /* flex-container */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 99;
  height: 100px;
  position: fixed;
  /* background-color: #fff; */
  color: white;
}



/* 로고 */

header .header_container {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
header .header_container #list {
  /* flex-item / flex-container*/
  display: flex;
  align-items: center;
  gap: 100px;
  color: #000;
  font-weight: 700;
  font-size: 20px;
}

/* 각각의 대메뉴 제목 */
header .header_container #list > li > a {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
}




/*******************/

/* 전체 컨테이너 */
.professionals_container {
  padding: 0;
}

.professionals_container .header_cover{
  width: 100%;
  height: 100%;  
  padding: 0px 0;
  margin: 0px;
  background-color: #000;
}
.professionals_container article{
  position: relative;
  z-index: 99;
}
  
.professionals_container  p{
position: absolute;
font-size: 50px;
color: #fff;
z-index: 999;
text-align: center;
left: 25vw;
top:23vw;
font-weight: bold;
}
.professionals_container span{
  font-size: 40px;
  color: #fff;
}

.professionals_container .header_cover video{
  z-index: -99;
}
.professionals_container h3{
  color: #000;
}


/** 검색창 **/


/******************************************************************************/

.swiper{
  height: 100%;
  background-color: #000;
  height: 50px;
  line-height: 50px;

}
.swiper-wrapper{
  color: white;
  background-color: #000;

}
.swiper-slide{
margin: 0px;
}

/******************************************************************************/

main{
  background-color: #FFFF;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr ;
}
main section{
  padding: 30px;
  text-align: end;
  font-size: 20px;
  height: 100%;
}
main section h3{
  font-size: 20px;
}
main .main_introduce{
  height: 300px;
  text-align: center;
}
main h4{
  text-align: left;
  font-size: 18px;
  margin:5px 0 ;
}
main p{
  font-size: 18px;
  color: #062fff;
}
main .box1{
  grid-column: 1/3;
  background-color: #EDEDED;
  height: 500px;
  font-size: 30px;
  padding: 100px;
  text-align: left;
  font-weight: bold;
}
main #title1{font-weight: bold;}
main .box2{
  grid-column: 3/5;
  background-color: #EDEDED;
  color: #0064ff;
  font-weight: bold;
  display: flex;
  text-align: left;
  font-size: 24px;
}
main .box2 .box2_wrapper{
  
  justify-content:left;
  align-self: flex-end;
  padding-bottom: 100px;
  padding-left: 50px;
}

main .box3{
  grid-column: 1/2;
  background-color: #EDEDED;
  height: 480px;
  font-size: 20px;
  text-align: end;
  height: 100%;
}
main .box3 img{
  width: 140px;
  height: 100px;
}
main .box3 strong{
  font-size: 35px; 
}
main .box3 p{
  color: #000;
  margin-top: 200px;
  text-align: start;
}
main .box4{
  grid-column: 2/3;
  grid-row: 2/3;
  color: #0064ff;
  font-size: 24px;
  padding: 20px;
  text-align: left;
}
main .box5{
  grid-column: 3/4;
  background-color: #EDEDED;
  text-align: end;
}
main .box5 img{
  width: 140px;
 
}
main .box5 h3{
  margin-top: 200px;
  text-align: left;
  font-weight: bold;
  color: #000;
}
main .box5 p{
  text-align: left;
}
main .box6{
  grid-column: 4/5;
  text-align: end;
}
main .box6 h3{
  margin-top: 210px;
  text-align: left;
  font-weight: bold;
  
}
main .box6 p{
  text-align: left;
}
main .box7{
  grid-column: 1/3;
  background-color: #2ABFBA;
  color: white;
  height: 480px;
}
main .box7 img{
  width: 106px;
  height: 106px;
  margin-bottom: 200px;
}
main .box7 h3{
  text-align: left;
  font-size: 45px;
  font-weight: bold;
}
main .box8{
  grid-column: 3/4;
}
main .box8 img{
  width: 100px;
  height: 90px;
}
main .box8 h3{
  margin-top: 250px;
  text-align: left;
  font-weight: bold;
}
main .box8 p{
  text-align: left;
}
main .box9{
  grid-column: 4/5;
  background-color: #EDEDED;
}
main .box9 img{
  width: 100px;
}
main .box9 h3{
  font-weight: bold;
  margin-top: 275px;
  text-align: left;
}
main .box9 p{
  text-align: left;
}

/**********************************************************************/
.green{
  padding-top: 150px;
  text-align: center;
  background-color: #000;
}
.green img{
  width: 180px;
  height: 138px;
}
nav{
  height: 1000px;
  padding: 30px;
}
nav h1{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
nav{
  padding-top:100px ;
  padding-left: 100px;
  padding-right: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #000;
  color: #fff;
}
nav .item1_btn {
 display: grid;
 grid-template-columns: 1fr 1fr;
 margin-top: 60px;
 margin-bottom: 100px;
}
nav .item1_btn p:hover{
  color: red;
}
nav .item1_btn p{
  margin-bottom: 20px;
  width: 80px;
  text-indent: 30px;
  cursor: pointer;
  font-size: 30px;
  margin-top: 100px;
}
nav .item1_introduce p{
display: none;
font-size: 20px;

}
nav .item1_introduce .txt1{
  display: block;
  font-size: 20px;
}
nav .item1_introduce .txt1 p{
  margin-top: 80px;
}
nav article{
  padding:20px;
}


nav .item2 p{
  margin-top: 150px;
  padding-left: 120px;  padding-top: 50px;
  padding-bottom: 170px;
  border-left: 1px solid white;
  font-size: 20px;
}
/*******************************************************************/


/************************************************************/
footer{
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #2ABFBA;
}
footer .mark{

  grid-column: 1/2;
  background-color: #000;
}
footer img{
  width: 100%;
  height: 100%;
  padding-top: 20%;
}
footer .email{
padding: 30px;
 grid-column:2/6;
 background-color: #2ABFBA;
 color: #fff;

}
footer .email h2{
  font-size: 48px;
  font-weight: bold;
}
footer .email p{
  margin-top: 15%;
}

footer .github{
  
  margin-top: 20%;
  grid-column:6/7;
  color: white;
  background-color:#0064ff;
}
footer .github h3{
  font-weight: bold;
  font-size: 25px;
  margin: 10px;
}
footer .github img{
  width: 140px;
  height: 150px;
  margin: 18px;
  margin-left: 70px;
  padding: 0px;
}
footer .github p{
  text-indent: 120px;
}